<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.monitor.dao.VideoMapper">

    <select id="queryVideoList" resultType="com.monitor.entity.VideoInfo">
             SELECT * FROM tbl_video_file
     </select>


</mapper>
